* {
  box-sizing: border-box;
}

html {
  height: 100%;
  margin: 0;
  padding: 0%;
  background-color: #282c34;
}

body {
  height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  width: 75%;
  margin: auto;
}

.App {
  text-align: center;
  display: block;
  background-color: #282c34;
  border-left: solid rgb(193, 168, 94) 4px;
  border-right: solid rgb(193, 168, 94) 4px;
  margin-top: 25px;
  /* border-width: 50px;
  border-style: solid; */
  /* ToDo: Figure out how to use border-image to make a gradient instead of using divs surrounding App */
  /* border-image: 
    radial-gradient(
      #282c34,
      #392237
    ) 1 100%; */
}

.nav {
  color: white;
  font-size: 32px;
  border-bottom: solid white 2px;
  margin-left: 30px;
  margin-right: 30px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  color: white;
  font-size: 32px;
}